/* 視頻時間:12/21 11:26分開始 */
*{
    margin: 0;
    padding: 0;
}
html body{
    width: 100vw;
    -webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none;
}

/* 定寬容器 */
.container{
    /* max-width : 大於1200px時, 保持1200px */
    max-width: 1440px;
    margin: auto;
    padding:0 10px;
    box-sizing: border-box;
    
}
/* 分欄容器: key:flex子物件預設會等高 */
.row{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
    margin: 0 -10px;

}

/* 屬性選取器 => [class*=....] => 下面範例 : 當class裡面有 "col-" 就會被選取 */
[class*=col-]{
    padding:0 10px;
    box-sizing: border-box;
}


/* 欄位不固定寬度專用區 */
/* 欄容器 ex: 12格裡佔1個欄位 */
.col-1{width: 8.333333%;}
.col-2{width: 16.666666%;}
.col-3{width: 25%;}
.col-4{width: 33.333333%;}
.col-5{width: 41.666666%;}
.col-6{width: 50%;}
.col-7{width: 58.333333%;}
.col-8{width: 66.666666%;}
.col-9{width: 75%;}
.col-10{width: 83.333333%;}
.col-11{width: 91.666666%;}
.col-12{width: 100%;}

/* 順序很重要, 後面會覆蓋前面 */
@media screen and (min-width:768px){ /*md: 平板直以上*/
    .col-md-1{width: 8.333333%;}
    .col-md-2{width: 16.666666%;}
    .col-md-3{width: 25%;}
    .col-md-4{width: 33.333333%;}
    .col-md-5{width: 41.666666%;}
    .col-md-6{width: 50%;}
    .col-md-7{width: 58.333333%;}
    .col-md-8{width: 66.666666%;}
    .col-md-9{width: 75%;}
    .col-md-10{width: 83.333333%;}
    .col-md-11{width: 91.666666%;}
    .col-md-12{width: 100%;}
}
@media screen and (min-width:992px){ /*lg: 平板橫以上 , 992px等同於處理1024px的壯志*/
    .col-lg-1{width: 8.333333%;}
    .col-lg-2{width: 16.666666%;}
    .col-lg-3{width: 25%;}
    .col-lg-4{width: 33.333333%;}
    .col-lg-5{width: 41.666666%;}
    .col-lg-6{width: 50%;}
    .col-lg-7{width: 58.333333%;}
    .col-lg-8{width: 66.666666%;}
    .col-lg-9{width: 75%;}
    .col-lg-10{width: 83.333333%;}
    .col-lg-11{width: 91.666666%;}
    .col-lg-12{width: 100%;}
}

@media screen and (min-width:1200px){ /*xl: 桌機以上*/
    .col-xl-1{width: 8.333333%;}
    .col-xl-2{width: 16.666666%;}
    .col-xl-3{width: 25%;}
    .col-xl-4{width: 33.333333%;}
    .col-xl-5{width: 41.666666%;}
    .col-xl-6{width: 50%;}
    .col-xl-7{width: 58.333333%;}
    .col-xl-8{width: 66.666666%;}
    .col-xl-9{width: 75%;}
    .col-xl-10{width: 83.333333%;}
    .col-xl-11{width: 91.666666%;}
    .col-xl-12{width: 100%;}
}



/* 欄位固定寬度專用區 */
[class*=row-cols-] > .col{
    padding: 0 15px;
    box-sizing: border-box;
}


.row-cols-1 > div{
    width: 100%;
}
.row-cols-2 > div{
    width: 50%;
}
.row-cols-3 > div{
    width: 33.333333%;
}
.row-cols-4 > div{
    width: 25%;
}
.row-cols-5 > div{
    width: 20%;
}
.row-cols-6 > div{
    width: 16.666666%;
}

@media screen and (min-width:768px){
    .row-cols-md-1 > div{
        width: 100%;
    }
    .row-cols-md-2 > div{
        width: 50%;
    }
    .row-cols-md-3 > div{
        width: 33.333333%;
    }
    .row-cols-md-4 > div{
        width: 25%;
    }
    .row-cols-md-5 > div{
        width: 20%;
    }
    .row-cols-md-6 > div{
        width: 16.666666%;
    }
}

@media screen and (min-width:992px){
    .row-cols-lg-1 > div{
        width: 100%;
    }
    .row-cols-lg-2 > div{
        width: 50%;
    }
    .row-cols-lg-3 > div{
        width: 33.333333%;
    }
    .row-cols-lg-4 > div{
        width: 25%;
    }
    .row-cols-lg-5 > div{
        width: 20%;
    }
    .row-cols-lg-6 > div{
        width: 16.666666%;
    }
}

@media screen and (min-width:1200px){
    .row-cols-xl-1 > div{
        width: 100%;
    }
    .row-cols-xl-2 > div{
        width: 50%;
    }
    .row-cols-xl-3 > div{
        width: 33.333333%;
    }
    .row-cols-xl-4 > div{
        width: 25%;
    }
    .row-cols-xl-5 > div{
        width: 20%;
    }
    .row-cols-xl-6 > div{
        width: 16.666666%;
    }
} 



/* flex 定位 */
.justify-content-start{
    justify-content: flex-start;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-end{
    justify-content: flex-end;
}

@media screen and (min-width:768px){
    .justify-content-md-start{
    justify-content: flex-start;
    }
    
    .justify-content-md-center{
        justify-content: center;
    }
    
    .justify-content-md-end{
        justify-content: flex-end;
    }
}

@media screen and (min-width:922px){
    .justify-content-lg-start{
    justify-content: flex-start;
    }
    
    .justify-content-lg-center{
        justify-content: center;
    }
    
    .justify-content-lg-end{
        justify-content: flex-end;
    }
}
@media screen and (min-width:1200px){
    .justify-content-xl-start{
    justify-content: flex-start;
    }
    
    .justify-content-xl-center{
        justify-content: center;
    }
    
    .justify-content-xl-end{
        justify-content: flex-end;
    }
}