*{
    color: #fff;
    box-sizing: border-box;
}

.justify-center{
    display: flex;
    justify-content: center;
}
.login{
    background: url('../images/login/common_banner.jpg');
    background-size: cover;
    width: 100%;
}
.login{
    margin: 0 auto;
}
.login .title h1{
    font-size: 50px;
    padding: 10% 5%;
    line-height: 1.2em;
    letter-spacing: -1px;
}
.login .title p{
    padding: 0 5%;
    font-size: 18px;
    line-height: 1.7em;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 400;
}
.login .row{
    display: flex;
    justify-content: center;
    /* border: 10px solid red; */
}

/*member*/
.member{
    background-color: rgb(33, 39, 62);
    background-size: cover;
    padding: 40px 40px;
    margin: 0 5px 100px;
}
.member .txt h3{
    font-size: 1.2em;
    margin-bottom: 10px;
}
.member .txt p{
    color: var(--common2-color);
    margin-bottom: 10px;
    line-height: 1.7em;
}
.member .inputArea input{
    width: 100%;
    border: solid 1px rgba(255, 255, 255, .2);
    padding: 8px;
    margin-bottom: 20px;
    border: none;
    border: solid 1px #dddddd;
    background: none;
    border-radius: 6px;
    height: auto;
    box-shadow: none;
    color: #333;
}
.inputArea input[type=submit]{
    text-align: center;
    color: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    outline: 0;
    font-weight: 800;
    text-decoration: none;
    padding: 8px 40px;
    font-size: 14px;
    border: none;
    background-color: var(--common1-color);
}
.loginWay li{
    display: inline;
    margin-right: 20px;
    margin-bottom: 20px;
}
.loginWay li:first-child{
    color: var(--common2-color);
}
.loginWay li a{
    color: var(--common1-color);
}

@media screen and (min-width:992px){
    .login .row{
        display: flex;
        justify-content: space-evenly;
        /* align-items: center; */
    }
    .title{
        margin-top: 80px;
    }
    .member{
        margin-top: 80px;
        margin-bottom: 215px;

    }
}
